<nav class="nav-extended grey lighten-4 z-depth-0">
    <div class="nav-wrapper">
      <a data-activates="mobile-demo" class="button-collapse grey-text"><i class="material-icons">menu</i></a>
        <a class="brand-logo grey-text text-darken-2"><%= model.model_name.human(count: 2) %></a>
        <ul id="nav-mobile" class="left">
          <li>
            <a class="btn-floating white">
              <%= material_icon.send(icon(model)).css_class("black-text") %>
            </a>
          </li>
        </ul>
        <ul id="nav-mobile" class="right">
          <li>
            <a class="dropdown-button" id="btn-notifications" data-activates='notifications' data-constrainwidth="false" data-beloworigin="true" data-gutter="10" data-stoppropagation="true" style="position: relative" >
              <span class="<%= flash.any? ? 'red' : 'grey lighten-1' %> badge white-text count-notification" id="count-notifications">
                <%= flash.count %>
              </span>
              <%= material_icon.notifications.css_class("grey-text text-darken-2").md_24 %>
            </a>
            <div id="notifications" class="dropdown-content grey lighten-4 z-depth-4" style="padding: 10px; min-width: 31.25rem; min-height: 18.75rem">
              <h6 class="black-text center">Notificaciones</h6>
              <% flash.each_with_index do |(msg_type, msg), idx| %>
                <% type = msg_type.gsub('alert', 'red').gsub('notice', 'green') %>
                <div class="card-panel <%= type %> center" style="padding: 4px" id="notification-<%= idx+1 %>" onclick="removeNotification(this)">
                  <span class="white-text" >
                    <%= msg %>
                  </span>
                </div>
              <% end %>
              <span style="position: absolute; bottom: 0; left: 14em">
                <a class="btn-floating waves-effect waves-light white" onclick="$('.card-panel').remove()">
                  <%= material_icon.delete.css_class('black-text') %>
                </a>
              </span>
            </div>
          </li>
          <li>
            <a class="dropdown-button" data-activates='menu-profile' data-constrainwidth="false" data-beloworigin="true" data-gutter="10"  >
              <%= material_icon.settings.css_class("grey-text text-darken-2").md_24 %>
            </a>
            <ul id='menu-profile' class="dropdown-content">
              <li>
                  <%= link_to profile_path(current_user), class: "black-text", remote: true do %>
                    Perfil
                    <%= material_icon.person %>
                  <% end %>
              </li>
              <% if current_user.group %>
                <li>
                    <%= link_to group_path(current_user.group), class: "black-text" do %>
                      Mi grupo
                      <%= material_icon.group %>
                    <% end %>
                </li>
              <% else %>
                <li>
                    <%= link_to new_group_path, remote: true, class: "black-text" do %>
                      Crear grupo
                      <%= material_icon.add %>
                    <% end %>
                </li>
              <% end %>
              <li class="divider"></li>
              <li>
                  <%= link_to destroy_user_session_path, method: :delete, class: "black-text" do %>
                    Cerrar sesión
                    <%= material_icon.exit_to_app %>
                  <% end %>
              </li>
            </ul>
          </li>
        </ul>
    </div>
</nav>


<span style="position: fixed; right: 1em; bottom: 1em; z-index: 1000">
  <% if model == Group %>
  <% group = current_user.group %>
  <% if can? :update, group %>
      <%= link_to invite_users_group_path(group), class: "btn-floating btn-large waves-effect waves-light z-depth-4 hoverable", remote: true, id: "add-user", onmouseover: "buttonHoverable(this)", onmouseout: "buttonHoverable(this)" do %>
        <%= material_icon.person_add %>
      <% end %>
    <% end %>
  <% else %>
    <%= link_to [:new, model.to_s.underscore], class: "btn-floating btn-large waves-effect waves-light z-depth-4 hoverable", remote: true, id: "new-#{model.to_s.underscore}",onmouseover: "buttonHoverable(this)", onmouseout: "buttonHoverable(this)" do %>
      <%= material_icon.add %>
    <% end %>
  <% end %>
</span>
