<div class="modal-content">
  <table class="bordered">
    <tr>
      <th><%= Salary.human_attribute_name(:name) %></th>
      <td><%= @salary.name %></td>
    </tr>
    <tr>
      <th><%= Salary.human_attribute_name(:description) %></th>
      <td><%= @salary.description %></td>
    </tr>
    <tr>
      <th><%= Salary.human_attribute_name(:bank_account_id) %></th>
      <td><%= @salary.bank_account.try(:name) %></td>
    </tr>
    <tr>
      <th><%= Salary.human_attribute_name(:amount) %></th>
      <td>$<%= @salary.processed_ammount %>.-</td>
    </tr>
  </table>
</div>
<div class="modal-footer">
  <%= link_to t('actions.edit', model: ''), edit_salary_path(@salary), class: 'modal-action waves-effect waves-green btn-flat', remote: true %>
  <%= link_to t('general.delete'), salary_path(@salary), method: :delete, class: 'modal-action waves-effect waves-green btn-flat', remote: true %>
</div>
