<div class="col s6 offset-s3">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <div class="card sticky-action z-depth-4">
      <div class="card-content">
        <span class="card-title">¿Olvidaste tu contraseña?</span>
        <%= devise_error_messages! %>

        <div class="input-field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "validate" %>
          <%= f.label :email %>
        </div>

        <%= f.submit "Enviar intrucciones", class: "btn btn-block btn-large", style: "margin-top: 2em" %>
      </div>
      <div class="card-action">
          <%= render "users/shared/links" %>
      </div>
    </div>
  <% end %>
</div>
