<div class="card large hoverable">
  <div class="">
    <table class="highlight bordered centered">
      <thead class="">
        <tr>
          <th><%= Expense.human_attribute_name(:name) %></th>
          <th><%= Expense.human_attribute_name(:description) %></th>
          <th><%= Expense.human_attribute_name(:bank_account_id) %></th>
          <th><%= Expense.human_attribute_name(:category_id) %></th>
          <th><%= Expense.human_attribute_name(:amount) %></th>
        </tr>
      </thead>
      <tbody id="body-table-expenses">
        <% @expenses.each do |exp| %>
          <tr onclick="showExpense(<%= exp.id %>);" id="<%= "expense-#{exp.id}-tr" %>" style="cursor: pointer !important;">
            <td><%= exp.name %></td>
            <td><%= exp.description.truncate(20) %></td>
            <td><%= exp.bank_account.try(:name) %></td>
            <td><%= exp.category.try(:name) %></td>
            <td>$<%= exp.processed_ammount %>.-</td>
            <%= link_to "",expense_path(exp), remote: true, style: "display: none", id: "expense-#{exp.id}-link" %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="modal modal-fixed-footer" id="modal-expense">
</div>
