<!DOCTYPE html>
<html>
  <head>
    <title>Finandroid</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="57x57" href="<%= asset_url("/assets/finandroid-icons/apple-icon-57x57.png") %>">
    <link rel="apple-touch-icon" sizes="60x60" href="<%= asset_url("/assets/finandroid-icons/apple-icon-60x60.png") %>">
    <link rel="apple-touch-icon" sizes="72x72" href="<%= asset_url("/assets/finandroid-icons/apple-icon-72x72.png") %>">
    <link rel="apple-touch-icon" sizes="76x76" href="<%= asset_url("/assets/finandroid-icons/apple-icon-76x76.png") %>">
    <link rel="apple-touch-icon" sizes="114x114" href="<%= asset_url("/assets/finandroid-icons/apple-icon-114x114.png") %>">
    <link rel="apple-touch-icon" sizes="120x120" href="<%= asset_url("/assets/finandroid-icons/apple-icon-120x120.png") %>">
    <link rel="apple-touch-icon" sizes="144x144" href="<%= asset_url("/assets/finandroid-icons/apple-icon-144x144.png") %>">
    <link rel="apple-touch-icon" sizes="152x152" href="<%= asset_url("/assets/finandroid-icons/apple-icon-152x152.png") %>">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= asset_url("/assets/finandroid-icons/apple-icon-180x180.png") %>">
    <link rel="icon" type="image/png" sizes="192x192"  href="<%= asset_url("/assets/finandroid-icons/android-icon-192x192.png") %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= asset_url("/assets/finandroid-icons/favicon-32x32.png") %>">
    <link rel="icon" type="image/png" sizes="96x96" href="<%= asset_url("/assets/finandroid-icons/favicon-96x96.png") %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= asset_url("/assets/finandroid-icons/favicon-16x16.png") %>">
    <link rel="manifest" href="<%= asset_url("/assets/finandroid-icons/manifest.json") %>">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="<%= asset_url("/assets/finandroid-icons/ms-icon-144x144.png") %>">
    <meta name="theme-color" content="#ffffff">
    <meta name="google-site-verification" content="N3PgcJtSu6lbwV1lsCu-SVbwza5bgH7mRoDEgXHDHEA" />
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body class="grey lighten-4">
    <header>
      <ul id="mobile-demo" class="side-nav fixed z-depth-3 cyan darken-2">
        <li>
          <h4 class="center white-text">Finandroid</h4>
        </li>
        <div style="padding: 0px 10px 0px 10px">
          <li class="divider"></li>
          <li class="center">
            <p class="white-text"><%= current_user.full_name %></p>
          </li>
          <li class="divider white"></li>
        </div>
        <div style="padding: 10px 10px 0px 10px">
          <% items_sidebar.each do |item| %>
            <li>
              <%= link_to item[:model], class: "#{active?(item[:model])} waves-effect", style: "border-radius: 10px" do %>
                <%= material_icon.send(item[:icon]).css_class(active_icon?(item[:model])) %>
                <%= item[:model].model_name.human(count: 2) %>
              <% end %>
            </li>
          <% end %>
        </div>
        <div class="background" style="opacity: 0.05; position: absolute;; bottom: 0;">
          <%= image_tag(asset_url("cordillera.jpg"), height: 750) %>
        </div>
      </ul>
      <%= render 'partials/sidebar', model: params[:controller].singularize.camelize.constantize %>
    </header>
    <main>
      <div>
        <div class="row">
          <div class="col m12 l12 xl12">
            <%= yield %>
          </div>
        </div>
        <div class="modal" id="modal-group">
        </div>
        <div class="modal" id="modal-profile">

        </div>
      </div>
    </main>
  </body>
</html>
