<!DOCTYPE html>
<html>
  <head>
    <title>Finandroid</title>
    <link rel="apple-touch-icon" sizes="57x57" href="<%= asset_url("/assets/finandroid-icons/apple-icon-57x57.png") %>">
    <link rel="apple-touch-icon" sizes="60x60" href="<%= asset_url("/assets/finandroid-icons/apple-icon-60x60.png") %>">
    <link rel="apple-touch-icon" sizes="72x72" href="<%= asset_url("/assets/finandroid-icons/apple-icon-72x72.png") %>">
    <link rel="apple-touch-icon" sizes="76x76" href="<%= asset_url("/assets/finandroid-icons/apple-icon-76x76.png") %>">
    <link rel="apple-touch-icon" sizes="114x114" href="<%= asset_url("/assets/finandroid-icons/apple-icon-114x114.png") %>">
    <link rel="apple-touch-icon" sizes="120x120" href="<%= asset_url("/assets/finandroid-icons/apple-icon-120x120.png") %>">
    <link rel="apple-touch-icon" sizes="144x144" href="<%= asset_url("/assets/finandroid-icons/apple-icon-144x144.png") %>">
    <link rel="apple-touch-icon" sizes="152x152" href="<%= asset_url("/assets/finandroid-icons/apple-icon-152x152.png") %>">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= asset_url("/assets/finandroid-icons/apple-icon-180x180.png") %>">
    <link rel="icon" type="image/png" sizes="192x192"  href="<%= asset_url("/assets/finandroid-icons/android-icon-192x192.png") %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= asset_url("/assets/finandroid-icons/favicon-32x32.png") %>">
    <link rel="icon" type="image/png" sizes="96x96" href="<%= asset_url("/assets/finandroid-icons/favicon-96x96.png") %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= asset_url("/assets/finandroid-icons/favicon-16x16.png") %>">
    <link rel="manifest" href="<%= asset_url("/assets/finandroid-icons/manifest.json") %>">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="<%= asset_url("/assets/finandroid-icons/ms-icon-144x144.png") %>">
    <meta name="theme-color" content="#ffffff">
    <meta name="google-site-verification" content="N3PgcJtSu6lbwV1lsCu-SVbwza5bgH7mRoDEgXHDHEA" />
    <%= stylesheet_link_tag    'devise', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body class="cyan">
    <main>
      <div class="section center">
        <%= image_tag(asset_url("psyduck.png"), width: 200, class: 'center-align') %>
      </div>
      <div class="container">
        <div class="row">
          <%= yield %>
        </div>
      </div>
    </main>
    <footer class="page-footer cyan darken-1">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Finandroid</h5>
                <p class="grey-text text-lighten-4">No te quedes pato y usa nuestra aplicación</p>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2018 Copyright
            </div>
          </div>
        </footer>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </body>
</html>
